.serif {
  font-family: Palatino, Optima, Georgia, serif;
}

.container {
	width: 800px;
	margin: auto;
	margin-top: 30px;
}

.borderize {
	border-radius: 5px;
}

body {
	background-image: url('image/texture.png');
	font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}


.header {
	text-align: center;
	font-size: 40px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 20px;
}

nav {
	width: 800px;
	margin-top: 20px;
	margin-bottom: 20px;
}

nav ul li {
	display: inline-block;
	text-align: center;
	width: 200px;
	margin-left: 0px;
	margin-right: 0px;
}

a {
	color: #1abc9c;
	text-decoration: none;
	border-bottom: 1px solid #1abc9c;
}

a:hover {
	text-decoration: underline;
}

a:hover {
	border-bottom-color: #555;
	color: #555;
	text-decoration: none;
}

img.avatar {
	width: 150px;
	height: 150px;
	margin: auto;
	margin-top: 35px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	box-shadow: 0 0 10px black;
}

.more-margin-right {
	margin-right: 30px;
}

.row {
	margin-top: 20px;
	margin-bottom: 50px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.col-200 {
	width: 180px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-600 {
	width: 600px;
	padding-left: 20px;
	padding-right: 40px;
}

.box {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
	margin-top: 20px;
	padding: 10px;
	padding-top: 20px;
	background-color: rgba(255,255,255,1);
	border-radius: 5px;
}

.title {
	font-size: 24px;
	font-family: 'FandolKai', '楷体GB_2312', "华文楷体", serif;
	margin-bottom: 20px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	position: relative;
}

em {
	font-family: 'FandolKai', '楷体GB_2312', "华文楷体", serif;
	font-weight: bold;
	font-style: normal;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.description {
	text-indent: 32px;
	font-size: 16px;
	line-height: 140%;
}

hr {
	margin-top: 40px;
	color: white;
}

.footer {
	color: white;
	text-align: center;
	height: 100px;
}

.footerperson:visited {
	color:white;
}

h2 {
	font-size: 32px;
	font-family: 'FandolKai', '楷体GB_2312', "华文楷体", serif;
	text-shadow: 1px 1px 1px #000000;
	color: white;
	margin-bottom: 20px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: white;
}

.text-row {

	width: 750px;
}

.item {
	width: 200;
	text-align: right;
	display: inline-block;
}

.value {
	width: 550;
	display: inline-block;
}


